version: 2.1

orbs: 
  heroku: circleci/heroku@1.2.6
  docker: circleci/docker@2.0.1

workflows:
  build-deploy:
    jobs:
      - tests
      - docker_build_and_push:
          requires:
            - tests
      - deploy_to_heroku:
          requires:
            - docker_build_and_push
          filters:
            branches:
              only:
                - main

jobs:
  tests:
    docker:
      - image: cimg/python:3.9.1
    steps:
      - checkout
      - run:
          name: Install Django and dependencies
          command: pip install -r requirements.txt
      - run:
          command: |
            echo $DJANGO_DEBUG
            echo $DJANGO_SECRET_KEY
      - run:
          name: Tests
          command: pytest
      - run:
          name: Run linting
          command: flake8

  docker_build_and_push:
    docker:
      - image: cimg/python:3.9.1
        auth:
          username: $DOCKER_LOGIN
          password: $DOCKER_PASSWORD
    steps:
      - checkout

      - setup_remote_docker:
          version: 20.10.14
          docker_layer_caching: true

      # build and push Docker image
      - run: |
          docker build -t $DOCKER_LOGIN/oc_lettings_image .
          echo $DOCKER_PASSWORD | docker login -u $DOCKER_LOGIN --password-stdin
          docker push $DOCKER_LOGIN/oc_lettings_image
  
  deploy_to_heroku:
    machine: true
    steps:
      - checkout
      - run:
          name: Build and push Docker image to Heroku
          command: |
            sudo curl https://cli-assets.heroku.com/install.sh | sh
            HEROKU_API_KEY=${HEROKU_API_KEY} heroku container:login
            HEROKU_API_KEY=${HEROKU_API_KEY} heroku container:push -a kd_oc-lettings web
            HEROKU_API_KEY=${HEROKU_API_KEY} heroku container:release -a kd_oc-lettings web 
